.header-container {
  background: red;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &_key {
    background: none;
    padding: 5px 20px;
    border-radius: 2px;
    user-select: none;
    &:hover{
      cursor: pointer;
    }
  }
}
